.photo__bloks{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 21vh);
   gap: 40px;
   width: 1920px;
   padding: 150px;
}

.one{
   background-color: aqua;
   grid-column: 1 / span 2;
}

.two {
   grid-row: span 2;
   background-color: bisque;
}

.five {
   background-color: black;
   grid-column: 1 / span 2;

}

.six {
   grid-column: span 2;
   background-color: green;
}

.three, .four {
   background-color: grey;
}