@import "./config.scss";

.value{
   margin-top: 150px;
   background-image: url("/src/img/Rectangle\ 22.png");
   background-size: 100%;
   background-position: center;
   padding-bottom: 99px;
   .value__block{
      margin: $margin-blok-all;
      width: $width-blok-all;
      padding-left: $padding-blok-all;
      padding-right: $padding-blok-all;
   .value__title {
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      font-style: $font-one;
      padding-top: 94px;
      margin-bottom: 100px;
   }
   .value__blok {
      border-radius: 15px;
      padding-bottom: 167px;
      text-align: center;
      background-color: $color-one;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      .value__blok-form {
         width: 500px;
         margin-top: 156px;
         margin-left: 143px;
         text-align: start;
         .container-more {
            width: 450px;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            input[type=range] {
               width: 250px;
               margin-left: 20px;
               margin-right: 20px;
               //-webkit-appearance: none !important;
               background:$color-two;
               height:10px;
            }
            button {
               position: relative;
               font-family: $font-one;
               width: 40px;
               height: 40px;
               background: white;
               font-size: 33px;
               border: 1px solid lightgrey;
               cursor: pointer;
               color: $color-one;
               border-radius: 5px;
               background: $color-seven;
            }
         #output {
            position: absolute;
            top: -20px;
            left: 210px;
            color: $color-two;
            font-family: $font-one;
            font-weight: bold;
         }
         }
         .container-more-text {
            display: flex;
            justify-content: space-between;
            margin-left: 100px;
            width: 260px;
            color: $color-four;
         }
         .value__blok-form__text {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            font-family: $font-one;
            color: $color-four;
            margin-bottom: 30px;
         }
         .value__blok-form__calc {
            border-radius: 5px;
            margin-bottom: 62px; 
            width: 400px;
            height: 56px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            font-family: $font-one;
            padding-left: 15px;
            padding-right: 15px;
         }
      }
      .value__blok-calc {
         border-radius: 15px;
         margin-top: 168px;
         margin-right: 30px;
         background-color: $color-four;
         width: 840px;
         .value__blok-calc__title {
            font-family: $font-one;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            margin-top: 57px;

            padding-bottom: 47px;
            border-bottom: 3px dashed #000000;
            
         }
         .value__blok-calc__sum {
            margin-top: 54px;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 37px;
         }
         .value__blok-calc__btn {
            width: 297px;
            height: 64px;
            margin-bottom: 32px;
         }
         .value__blok-calc__text {
            width: 461px;
            margin-bottom: 58px;
            margin-left: 188px;
         }
      }
   }
}

}

